.wrapper {
  padding-inline: var(--space);
  background-image: repeating-linear-gradient(
    -45deg,
    oklch(from currentcolor l c h / 0.12) 0,
    oklch(from currentcolor l c h / 0.12) 1px,
    transparent 1px,
    transparent 0.24rem
  );
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  padding-inline: 1px;
  background-color: color-mix(in oklch, black, currentColor 40%);

  &.card {
    @media (width > 380px) {
      grid-template-columns: repeat(
          auto-fill,
          minmax(max(280px, calc((100% - 3px) / 4)), 1fr)
        );
    }
  }
}

.footer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-column: 1 / -1;
  place-items: start center;
  height: calc(100svh + 100px);
  padding: calc(4rem + 100px) 1rem;
}
