.list {
  display: grid;
  gap: 1em;

  &.full,
  &.line,
  &.row {
    grid-template-columns: 1fr;
  }

  &.card {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.footer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-column: 1 / -1;
  place-items: start center;
  height: calc(100svh + 100px);
  padding: calc(4rem + 100px) 1rem;
}
