{
    "extends": ["stylelint-config-standard", "stylelint-config-html"],
    "plugins": ["stylelint-order"],
    "rules": {
        "at-rule-no-unknown": [true, { "ignoreAtRules": ["position-try"] }],
        "function-no-unknown": [true, { "ignoreFunctions": ["anchor", "anchor-size"] }],
        "order/order": ["custom-properties", "declarations"],
        "order/properties-alphabetical-order": true,
        "no-descending-specificity": null,
        "no-empty-source": null,
        "property-no-unknown": [
            true,
            {
                "ignoreProperties": [
                    "anchor-name",
                    "position-anchor",
                    "position-try-fallbacks",
                    "position-try"
                ]
            }
        ],
        "selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$"
    }
}
