.header {
    container-type: inline-size;
    grid-area: app-header;
}

.main {
    container-type: inline-size;
    grid-area: app-main;
    overflow: auto;
}

.nav {
    bottom: 0;
    grid-area: app-nav;
    height: 100dvh;
    position: sticky;
    top: 0;
}
