.menu {
    border-inline-end: 1px solid;
    height: 100%;
    overflow: auto;
    top: 0;
    width: 300px;

    ol {
        list-style: none;
        margin-block: 1rem;
        margin-inline: 0;
        padding-inline: 1rem;
    }
}

.footer {
    padding: 1rem;
}

.category {
    &.active {
        color: tomato;
    }
}

.feed {
    a {
        display: inline-block;
        padding-inline-start: 1ch;
        text-indent: -1ch;
    }

    &.active a {
        color: tomato;
    }

    .hidden &:not(.active) {
        display: none;
    }
}
