.menu {
    border-inline-end: 1px solid;
    overflow: auto;
    width: 300px;

    ol {
        list-style: none;
        margin-block: 1rem;
        margin-inline: 0;
        padding-inline: 1rem;
    }
}

.footer {
    padding: 1rem;
}
