.menu {
  width: 300px;
  overflow: auto;
  border-inline-end: 1px solid;

  ol {
    padding-inline: 1rem;
    margin-block: 1rem;
    margin-inline: 0;
    list-style: none;
  }
}

.footer {
  padding: 1rem;
}
