@property --overflow-fade-value {
  inherits: false;
  initial-value: 0;
  syntax: "<length>";
}

@keyframes overflow-fade {
  from {
    --overflow-fade-value: 0rem;
  }

  to {
    --overflow-fade-value: 2rem;
  }
}

.set {
  display: grid;
  grid-template: "label all list" auto / auto auto 1fr;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 0;
  border: none;
}

.title {
  float: left; /* Required to position the legend correctly */
  display: block;
  grid-area: label;
}

.label {
  position: relative;
  display: block;
  flex: 0 0 auto;
  max-width: 66vw;
  height: 1lh;
  padding-block: 0;
  padding-inline: 1lh 0.5lh;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2em;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid oklch(from currentcolor l c h / 20%);
  border-radius: 2lh;

  &::before {
    position: absolute;
    top: 0.25lh;
    left: 0.25lh;
    display: block;
    width: calc(0.5lh - 2px);
    height: calc(0.5lh - 2px);
    content: "";
    border: 1px solid;
    border-radius: 50%;
  }

  &:has(:checked) {
    background: green;

    &::before {
      background: currentcolor;
    }
  }

  input {
    display: none;
  }
}

.items {
  animation: overflow-fade forwards;
  animation-range: 0.5rem 2rem;
  animation-timeline: --overflow-fade;
  display: flex;
  gap: 0.5em;
  mask-image: linear-gradient(
    to right,
    transparent,
    black var(--overflow-fade-value)
  );
  overflow: auto;
  padding: 0.5em;
  scroll-timeline: --overflow-fade inline;

  &.expanded {
    flex-wrap: wrap;
  }
}
