@property --overflow-fade-value {
  inherits: false;
  initial-value: 0;
  syntax: "<length>";
}

@keyframes overflow-fade {
  from {
    --overflow-fade-value: 0rem;
  }

  to {
    --overflow-fade-value: 2rem;
  }
}

.set {
  display: grid;
  grid-template: "label all list" auto / auto auto 1fr;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 0;
  border: none;
  border-block-start: 1px solid oklch(from currentcolor l c h / 20%);

  & + & {
    border-block-end: 1px solid oklch(from currentcolor l c h / 20%);
  }
}

.title {
  float: left; /* Required to position the legend correctly */
  display: grid;
  grid-area: label;
  place-items: center;
  width: calc(var(--space) * 1.5);
  height: calc(var(--space) * 1.5);
  background-image: repeating-linear-gradient(
    -45deg,
    oklch(from currentcolor l c h / 0.12) 0,
    oklch(from currentcolor l c h / 0.12) 1px,
    transparent 1px,
    transparent 0.24rem
  );
  border-right: 1px solid color-mix(black, currentcolor 40%);
  box-shadow: inset -4px 4px 0 oklch(from black l c h / 0.8);

  svg {
    fill: color-mix(black, white);
  }
}

.items {
  animation: overflow-fade forwards;
  animation-range: 0.5rem 2rem;
  animation-timeline: --overflow-fade;
  display: flex;
  mask-image: linear-gradient(
    to right,
    transparent,
    black var(--overflow-fade-value)
  );
  overflow: auto;
  scroll-timeline: --overflow-fade inline;
  scrollbar-width: none;
  background-image: repeating-linear-gradient(
    -45deg,
    oklch(from currentcolor l c h / 0.12) 0,
    oklch(from currentcolor l c h / 0.12) 1px,
    transparent 1px,
    transparent 0.24rem
  );

  &.expanded {
    flex-wrap: wrap;
  }

  &::after {
    flex: 0 0 5rem;
    content: "";
  }
}

.item {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  max-width: 66vw;
  height: calc(var(--space) * 1.5);
  padding-inline: calc(var(--space) * 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background-color: black;
  border-right: 1px solid oklch(from currentcolor l c h / 20%);

  &:has(:checked) {
    color: black;
    background: white;
  }

  input {
    display: none;
  }
}
