@property --overflow-fade-value {
    inherits: false;
    initial-value: 0;
    syntax: '<length>';
}

@keyframes overflow-fade {
    from {
        --overflow-fade-value: 0rem;
    }

    to {
        --overflow-fade-value: 2rem;
    }
}

.form {
    width: 100%;

    fieldset {
        align-items: center;
        border: none;
        display: flex;
        min-width: 0;
        padding: 0;
        width: 100%;
    }

    label {
        border: 1px solid oklch(from currentcolor l c h / 20%);
        border-radius: 2lh;
        cursor: pointer;
        display: block;
        flex: 0 0 auto;
        height: 1lh;
        line-height: 2em;
        max-width: 66vw;
        overflow: hidden;
        padding-block: 0;
        padding-inline: 1lh 0.5lh;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::before {
            border: 1px solid;
            border-radius: 50%;
            content: '';
            display: block;
            height: calc(0.5lh - 2px);
            left: 0.25lh;
            position: absolute;
            top: 0.25lh;
            width: calc(0.5lh - 2px);
        }

        &:has(:checked) {
            background: green;

            &::before {
                background: currentcolor;
            }
        }
    }

    input {
        display: none;
    }
}

.items {
    animation: overflow-fade forwards;
    animation-range: 0.5rem 2rem;
    animation-timeline: --overflow-fade;
    display: flex;
    gap: 0.5em;
    mask-image: linear-gradient(to right, transparent, black var(--overflow-fade-value));
    overflow: auto;
    padding: 0.5em;
    scroll-timeline: --overflow-fade inline;

    &.expanded {
        flex-wrap: wrap;
    }
}
