.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-area: header;
  grid-template:
    "logo . menu" auto
    / auto 1fr auto;
  container-type: inline-size;

  h1 {
    display: grid;
    place-items: center;
    width: calc(var(--space) * 2);
    height: calc(var(--space) * 2);
  }

  svg {
    width: 50%;
    height: 50%;
  }
}

.main {
  grid-area: main;
  container-type: inline-size;
  overflow: auto;
}

.nav {
  position: sticky;
  top: 0;
  bottom: 0;
  grid-area: left-aside;
  height: 100dvh;
}
