.header {
    container-type: inline-size;
    grid-area: header;
}

.main {
    container-type: inline-size;
    grid-area: main;
    overflow: auto;
}

.nav {
    bottom: 0;
    grid-area: left-aside;
    height: 100dvh;
    position: sticky;
    top: 0;
}
