.header {
  grid-area: header;
  container-type: inline-size;

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.main {
  grid-area: main;
  container-type: inline-size;
  overflow: auto;
}

.nav {
  position: sticky;
  top: 0;
  bottom: 0;
  grid-area: left-aside;
  height: 100dvh;
}
