.article {
  position: relative;
  z-index: 0;
  display: grid;
  align-content: start;
  min-height: var(--h);
  padding: 1rem;
  cursor: pointer;
  background-color: black;

  &:hover,
  &:focus-visible {
    background-color: color-mix(in oklch, black, white 24%);
  }
}

.line {
  grid-template:
    "title date category summary" auto
    / 1fr max-content max-content 1fr;
}

.row {
  grid-template:
    "cover category category" auto
    "cover title date" auto
    "cover summary summary" auto
    / auto 1fr max-content;
}

.read > * {
  opacity: 0.24;
}

.title,
.category,
.date {
  min-height: 1lh;
}

.category {
  grid-area: category;
  max-width: min(20ch, 100%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  grid-area: date;
}

.title {
  grid-area: title;
  margin-block-end: 0.5rem;

  a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;
      content: "";
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.cover {
  display: block;
  grid-area: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 8 / 6;
  object-fit: cover;
  object-position: 50% 0;
  background-color: rgb(255 255 255 / 5%);
}

.summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  grid-area: summary;
  height: 3lh;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.card,
.full {
  grid-template:
    "cover" auto
    "date" auto
    "title" auto
    "category" auto
    "summary" auto
    / 1fr;
}

.card {
  .cover {
    width: 100%;
    aspect-ratio: 7 / 5;
  }
}

.loading {
  > *:not(.cover, .summary) {
    height: 1lh;
    background-color: rgb(255 255 255 / 5%);
    border-radius: 0.5lh;
  }

  .summary {
    height: 4lh;
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;

  .article:hover &,
  .article:focus-within & {
    pointer-events: auto;
    opacity: 1;
  }
}
