.article {
  position: relative;
  z-index: 0;
  display: grid;
  align-content: start;
  min-height: var(--h);
  padding: var(--space);
  cursor: pointer;
  background-color: black;

  &:hover,
  &:focus-visible {
    background-color: color-mix(in oklch, black, white 24%);
  }
}

.card,
.full {
  grid-template:
    "cover" auto
    "title" auto
    "summary" 1fr
    "category-date" auto
    / 1fr;
}

.line {
  grid-template:
    "title date category summary" auto
    / 1fr max-content max-content 1fr;
}

.row {
  grid-template:
    "cover category category" auto
    "cover title date" auto
    "cover summary summary" auto
    / auto 1fr max-content;
}

.read > * {
  opacity: 0.24;
}

.title,
.category,
.date {
  min-height: 1lh;
}

.category,
.date {
  font-size: 0.75em;
  text-transform: uppercase;
  opacity: 0.6;
}

.category {
  grid-area: category;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  grid-area: date;
}

.categoryTime {
  display: flex;
  grid-area: category-date;
  align-items: center;
  width: 100%;
  min-width: 0;
  height: 1lh;
  line-height: 1lh;

  .date {
    flex: 0 0 auto;

    &::after {
      margin-inline: 1ch;
      content: "|";
    }
  }

  .caetgory {
    flex: 1;
    max-width: unset;
  }
}

.title {
  grid-area: title;
  font-size: 1em;
  font-weight: 900;

  a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-decoration: none;

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;
      content: "";
    }

    &:focus-visible {
      outline: none;
    }
  }

  &:empty {
    line-height: 2lh;
  }
}

.cover {
  display: block;
  grid-area: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: 50% 0;
  background-color: rgb(255 255 255 / 5%);
}

.body {
  grid-area: summary;
}

.summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  grid-area: summary;
  height: 3lh;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.card {
  .cover {
    width: 100%;
  }

  .title {
    margin-block: calc(var(--space) * 0.64) calc(var(--space) * 0.32);
  }

  .categoryTime {
    margin-block-start: calc(var(--space) * 0.64);
  }
}

.loading {
  > *:not(.cover, .summary) {
    height: 1lh;
    background-color: rgb(255 255 255 / 5%);
    border-radius: 0.5lh;
  }

  .summary {
    height: 4lh;
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;

  .article:hover &,
  .article:focus-within & {
    pointer-events: auto;
    opacity: 1;
  }
}
