:root {
  --space: clamp(1rem, 0.5909rem + 1.8182vw, 2rem); /* 16-32 */
}

::selection {
  color: black;
  background-color: white;
}

*,
::before,
::after {
  box-sizing: border-box;
  vertical-align: baseline;
  color: currentcolor;
  scrollbar-color: currentcolor transparent;
  scrollbar-width: thin;
}

[role="presentation"],
:disabled {
  pointer-events: none;
}

:focus {
  outline: 1px solid;
}

@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }
}

:focus-visible {
  outline: 1px solid;
}

:target {
  scroll-margin-block: 1rlh;
}

html,
body,
#root {
  position: absolute;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

html {
  text-size-adjust: none;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
  font-weight: 300;
  font-optical-sizing: auto;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures
    no-historical-ligatures contextual;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  color: white;
  text-decoration-skip-ink: auto;
  background-color: black;
  text-rendering: geometricprecision;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a:where(:not([class])) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  appearance: unset;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
select {
  cursor: pointer;
}

button {
  background: unset;
  border: unset;

  :active {
    outline: unset;
  }
}

h1,
h2,
h3 {
  text-wrap: balance;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  &:where([class]) {
    padding: unset;
    margin: unset;
    list-style-type: none;
  }
}

body,
dd,
dt,
p,
li {
  text-wrap: pretty;
}

dialog:not([popover]) {
  text-align: center;
  background-color: black;
  border: unset;

  &::backdrop {
    background-color: rgb(0 0 0 / 96%);
    background-image: repeating-linear-gradient(
      -45deg,
      oklch(from currentcolor l c h / 0.12) 0,
      oklch(from currentcolor l c h / 0.12) 2px,
      transparent 2px,
      transparent 8px
    );
  }
}

#root {
  display: grid;
  grid-template:
    "header header header" auto
    "left-aside main right-aside" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
}
